<div class="section-transition-container">
  <div class="section-transition bgimage" style="background-position: 0px 30%; background-image: url('{{.imageUrl}}')">
    <div class="color-overlay"></div>
  </div>
  <div class="gradient"></div>
</div>
<div class="homepage-hero">
  <div class="headline">
    <h1>
      {{.subtitle}}
    </h1>  
  </div>


  <!-- <div class="update-container">
    <a class="update update-event" href="unhcr.html">
      <span class="update-type update-event">Current Exploration</span>
      <span class="update-title">Confronting displaced populations in the 21st century</span>
      <span class="update-body">I'm working with scientists, policy makers, and artists to envision better energy futures.</span>
      <div class="read-more">Continue reading</div>
    </a>
  </div> -->
</div>
