<div class="fries menu-hide">
	<div class="menu-on-small">
	  <div class="main-nav"><a href="/#bio">About</a><a href="post">Current Explorations</a><a href="/#books">Books &amp; Writings</a><a href="/#inquiries">Inquiries</a><a href="/#connect">Connect</a></div>
	</div>
  </div>
  <div class="sticky-header">
	<div class="burger-and-fries-container" id="navigation"><a class="logo-in-navigation relative" href="/"><span>Return of the Deji</span></a>
	  <div class="burger-and-fries"><button class="hamburger hamburger--squeeze js-hamburger" type="button">
<div class="hamburger-bg"></div>
<span class="hamburger-box">
<span class="hamburger-inner"></span>
</span>
</button> 
		<div class="menu-on-large">
		  <div class="main-nav"><a href="/#bio">About</a><a href="post">Current Explorations</a><a href="/#books">Books &amp; Writings</a><a href="/#inquiries">Inquiries</a><a href="/#connect">Connect</a></div>
		</div>
	  </div>
	</div>
  </div>