$dark: rgba(28, 28, 28, 1);
$green: rgba(76, 95, 87, 1);
$tan: rgba(151, 102, 78, 1);
$lemeonGinger: rgba(149, 117, 39, 1); 
$blue: rgba(189, 226, 219, 1);
$gold: rgb(228, 220, 190);
$red: rgba(255, 233, 233, 1);
$purple: rgb(214, 214, 214);
$gray: rgba(255, 255, 255, 1);