{{ define "main" }}

<div class="section-transition-container">
    <div class="section-transition bgimage" style="background-image: url('{{.Params.image}}')">
      <div class="color-overlay"></div>
    </div>
    <div class="gradient"></div>
  </div>
  <div class="homepage-hero">
    <div class="headline">
      <h1>
        {{.Params.subtitle}}
      </h1>  
    </div>
  
    <div class="update-container">
        {{$base := "post"}}
        {{$foo := .Params.featuredPost }}
        {{$url := print $base "/" $foo}}
        {{ with .Site.GetPage $url }}
            <a class="update update-event" href="{{$url}}">
                <span class="update-type update-event">Current Exploration</span>
                <span class="update-title">{{ .Title }}</span>
                <span class="update-date">{{ .Date.Format "January 2, 2006" }}</span>
                <span class="update-body">{{ .Description }}</span>
                <div class="read-more">Continue reading</div>
            </a>        
        {{ end }}
    </div>
  </div>



{{ partial "text-and-image" 
    (dict 
        "heading" .Params.values.heading 
        "text" .Params.values.text 
        "buttonText" "Read more" "buttonLink" "/values") }}

{{ end }}
