{{ define "main" }}

<div class="section-transition-container">
    <div class="section-transition bgimage" style="background-image: url('{{.Params.image}}')">
      <div class="color-overlay"></div>
    </div>
    <div class="gradient"></div>
  </div>
  <div class="homepage-hero">
    <div class="headline">
      <h1>
        {{.Params.subtitle}}
      </h1>  
    </div>
  
    <div class="update-container">
        {{$base := "post"}}
        {{$foo := .Params.featuredPost }}
        {{$url := print $base "/" $foo}}
        {{ with .Site.GetPage $url }}
            <a class="update update-event" href="{{$url}}">
                <span class="update-type update-event">Current Exploration</span>
                <span class="update-title">{{ .Title }}</span>
                <span class="update-date">{{ .Date.Format "January 2, 2006" }}</span>
                <span class="update-body">{{ .Description }}</span>
                <div class="read-more">Continue reading</div>
            </a>        
        {{ end }}
    </div>
  </div>
  
  <div class="homepage-section-container">
    <div class="section section2 bio" id="bio">
      <h2 class="section-headline h2 blue">{{ .Params.Intro.Heading }}</h2>
      {{ .Params.Intro.Body | markdownify }}
    </div>
  </div>
  <div class="section section3 books" id="books">
    <h2 class="books-headline section-headline h2 blue">Novels</h2>
    {{ range where $.Site.RegularPages "Section" "novel" }}
      
      <div class="homepage-book">
        <div class="book-container-right">
          <span class="book-title">{{.Title}}</span>
          <img class="book-cover" src="{{.Params.Image }}">
        </div>
        <div class="book-container-left">
          <span class="book-award">{{ .Params.Award }}</span>
          <span class="book-description">{{ .Params.short_description }}</span>
          <span class="quote-body">“{{ .Params.Quote }}”</span>
          <span class="quote-author">—{{ .Params.quote_author }}</span>
          <div class="available-from-container">
            <span class="available-from">Available for purchase from</span>
            {{ range .Params.availableFrom }}
              <a href="{{ .link }}" target="_blank">{{ .text }}</a>
            {{ end }}
          </div>
        </div>
      </div>    
    {{ end }}
    </div>
  </div>
  <div class="section section3 books" id="books">
    <h2 class="books-headline section-headline h2 blue">Collections</h2>
    
    </div>
  </div>


{{ end }}
