.section.inner-page-section-container {
    .exploration-post {
        h1 {
            font-size: 24px;
        }
    
        p { 
            margin-top: 16px;
            font-size: 20px;
        }

        .cta {
            font-size: 24px;
        }
        @media (min-width: 1024px) {
            max-width: 1024px;
            margin: 0 auto;
        }
    }
}
