.loading {
  background: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;

  &.not-loading {
    z-index: -100;
  }
}
